body{background-color:#fff}
#wrapper{width:100%}
#page-wrapper{padding:30px 15px 0;min-height:568px}
@media(min-width:768px) {
    #page-wrapper{position:inherit;margin-left:250px;padding:30px 30px 0}
}


.navbar-header{float:left}
.navbar-left{float:left}
.navbar-right{text-align:right}
.navbar-top-links{margin:0}
.navbar-top-links li{display:inline-block}
.navbar-top-links li:last-child{margin-right:6px}
.navbar-top-links li a{padding:15px;min-height:50px}
.navbar-top-links>li>a{color:#999}
.navbar-top-links>li>a:hover,.navbar-top-links>li>a:focus,.navbar-top-links>.open>a,.navbar-top-links>.open>a:hover,.navbar-top-links>.open>a:focus{color:#fff;background-color:transparent}
.navbar-top-links .dropdown-menu li{display:block}
.navbar-top-links .dropdown-menu li:last-child{margin-right:0}
.navbar-top-links .dropdown-menu li a{padding:3px 20px;min-height:0}
.navbar-top-links .dropdown-menu li a div{white-space:normal}
.navbar-top-links .dropdown-messages,.navbar-top-links .dropdown-tasks,.navbar-top-links .dropdown-alerts{width:310px;min-width:0}
.navbar-top-links .dropdown-messages{margin-left:5px}
.navbar-top-links .dropdown-tasks{margin-left:-59px}
.navbar-top-links .dropdown-alerts{margin-left:-123px}
.navbar-top-links .dropdown-user{right:0;left:auto}
.sidebar .sidebar-nav.navbar-collapse{padding-right:0;padding-left:0}
.sidebar .sidebar-search{padding:15px}
.sidebar ul li a.active{/*background-color:#eee*/}
.sidebar .arrow{float:right}
.sidebar .fa.arrow:before{content:"\f104"}
.sidebar .active>a>.fa.arrow:before{content:"\f107"}
.sidebar .nav-second-level li,.sidebar .nav-third-level li{border-bottom:0!important}
.sidebar .nav-second-level li a{padding-left:37px}
.sidebar .nav-third-level li a{padding-left:52px}
@media(min-width:768px) {
    .sidebar{z-index:1;position:absolute;width:250px;margin-top:98px}
    .navbar-top-links .dropdown-messages,.navbar-top-links .dropdown-tasks,.navbar-top-links .dropdown-alerts{margin-left:auto}
}
.btn-outline{color:inherit;background-color:transparent;transition:all .5s}
.btn-primary.btn-outline{color:#428bca}
.btn-success.btn-outline{color:#5cb85c}
.btn-info.btn-outline{color:#5bc0de}
.btn-warning.btn-outline{color:#f0ad4e}
.btn-danger.btn-outline{color:#d9534f}
.btn-primary.btn-outline:hover,.btn-success.btn-outline:hover,.btn-info.btn-outline:hover,.btn-warning.btn-outline:hover,.btn-danger.btn-outline:hover{color:#fff}
.chat{margin:0;padding:0;list-style:none}
.chat li{margin-bottom:10px;padding-bottom:5px;border-bottom:1px dotted #999}
.chat li.left .chat-body{margin-left:60px}
.chat li.right .chat-body{margin-right:60px}
.chat li .chat-body p{margin:0}
.panel .slidedown .glyphicon,.chat .glyphicon{margin-right:5px}
.chat-panel .panel-body{height:350px;overflow-y:scroll}
.login-panel{margin-top:25%}
.flot-chart{display:block;height:400px}
.flot-chart-content{width:100%;height:100%}
.dataTables_wrapper{position:relative;clear:both}
table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled{background:0 0}
table.dataTable thead .sorting_asc:after{content:"\f0de";float:right;font-family:fontawesome}
table.dataTable thead .sorting_desc:after{content:"\f0dd";float:right;font-family:fontawesome}
table.dataTable thead .sorting:after{content:"\f0dc";float:right;font-family:fontawesome;color:rgba(50,50,50,.5)}
.btn-circle{width:30px;height:30px;padding:6px 0;border-radius:15px;text-align:center;font-size:12px;line-height:1.428571429}
.btn-circle.btn-lg{width:50px;height:50px;padding:10px 16px;border-radius:25px;font-size:18px;line-height:1.33}
.btn-circle.btn-xl{width:70px;height:70px;padding:10px 16px;border-radius:35px;font-size:24px;line-height:1.33}
.show-grid [class^=col-]{padding-top:10px;padding-bottom:10px;border:1px solid #ddd;background-color:#eee!important}
.show-grid{margin:15px 0}
.huge{font-size:40px}
.panel-green{border-color:#5cb85c}
.panel-green .panel-heading{border-color:#5cb85c;color:#fff;background-color:#5cb85c}
.panel-green a{color:#5cb85c}
.panel-green a:hover{color:#3d8b3d}
.panel-red{border-color:#d9534f}
.panel-red .panel-heading{border-color:#d9534f;color:#fff;background-color:#d9534f}
.panel-red a{color:#d9534f}
.panel-red a:hover{color:#b52b27}
.panel-yellow{border-color:#f0ad4e}
.panel-yellow .panel-heading{border-color:#f0ad4e;color:#fff;background-color:#f0ad4e}
.panel-yellow a{color:#f0ad4e}
.panel-yellow a:hover{color:#df8a13}
.hero-widget{text-align:center;padding-top:20px;padding-bottom:20px}
.hero-widget .icon{display:block;font-size:96px;line-height:96px;margin-bottom:10px;text-align:center}
.hero-widget .value{display:block;height:64px;font-size:64px;line-height:64px;font-style:normal}
.hero-widget label{font-size:17px}
.hero-widget .options{margin-top:10px}
.panel.tabbed-panel .panel-heading{padding-top:5px;padding-right:5px;padding-bottom:0}
.panel.tabbed-panel .panel-heading .panel-title{padding:9px 0;font-size:1em;line-height:1em}
.panel.tabbed-panel .nav-tabs{border-bottom:none}
.panel.tabbed-panel .nav-tabs > li > a{line-height:1em}
.panel.tabbed-panel .nav-justified{margin-bottom:-1px}
.tabbed-panel.panel-default .nav-tabs > li > a,.tabbed-panel.panel-default .nav-tabs > li > a:hover,.tabbed-panel.panel-default .nav-tabs > li > a:focus{color:#777}
.tabbed-panel.panel-default .nav-tabs > .open > a,.tabbed-panel.panel-default .nav-tabs > .open > a:hover,.tabbed-panel.panel-default .nav-tabs > .open > a:focus,.tabbed-panel.panel-default .nav-tabs > li > a:hover,.tabbed-panel.panel-default .nav-tabs > li > a:focus{color:#777;background-color:#ddd;border-color:transparent}
.tabbed-panel.panel-default .nav-tabs > li.active > a,.tabbed-panel.panel-default .nav-tabs > li.active > a:hover,.tabbed-panel.panel-default .nav-tabs > li.active > a:focus{color:#555;background-color:#fff;border-color:#ddd;border-bottom-color:transparent}
.tabbed-panel.panel-default .nav-tabs > li.dropdown .dropdown-menu{background-color:#f5f5f5;border-color:#ddd}
.tabbed-panel.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a{color:#777}
.tabbed-panel.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,.tabbed-panel.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus{background-color:#ddd}
.tabbed-panel.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,.tabbed-panel.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,.tabbed-panel.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus{color:#fff;background-color:#555}
.tabbed-panel.panel-primary .nav-tabs > li > a,.tabbed-panel.panel-primary .nav-tabs > li > a:hover,.tabbed-panel.panel-primary .nav-tabs > li > a:focus{color:#fff}
.tabbed-panel.panel-primary .nav-tabs > .open > a,.tabbed-panel.panel-primary .nav-tabs > .open > a:hover,.tabbed-panel.panel-primary .nav-tabs > .open > a:focus,.tabbed-panel.panel-primary .nav-tabs > li > a:hover,.tabbed-panel.panel-primary .nav-tabs > li > a:focus{color:#fff;background-color:#3071a9;border-color:transparent}
.tabbed-panel.panel-primary .nav-tabs > li.active > a,.tabbed-panel.panel-primary .nav-tabs > li.active > a:hover,.tabbed-panel.panel-primary .nav-tabs > li.active > a:focus{color:#428bca;background-color:#fff;border-color:#428bca;border-bottom-color:transparent}
.tabbed-panel.panel-primary .nav-tabs > li.dropdown .dropdown-menu{background-color:#428bca;border-color:#3071a9}
.tabbed-panel.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a{color:#fff}
.tabbed-panel.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,.tabbed-panel.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus{background-color:#3071a9}
.tabbed-panel.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,.tabbed-panel.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,.tabbed-panel.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus{background-color:#4a9fe9}
.tabbed-panel.panel-success .nav-tabs > li > a,.tabbed-panel.panel-success .nav-tabs > li > a:hover,.tabbed-panel.panel-success .nav-tabs > li > a:focus{color:#3c763d}
.tabbed-panel.panel-success .nav-tabs > .open > a,.tabbed-panel.panel-success .nav-tabs > .open > a:hover,.tabbed-panel.panel-success .nav-tabs > .open > a:focus,.tabbed-panel.panel-success .nav-tabs > li > a:hover,.tabbed-panel.panel-success .nav-tabs > li > a:focus{color:#3c763d;background-color:#d6e9c6;border-color:transparent}
.tabbed-panel.panel-success .nav-tabs > li.active > a,.tabbed-panel.panel-success .nav-tabs > li.active > a:hover,.tabbed-panel.panel-success .nav-tabs > li.active > a:focus{color:#3c763d;background-color:#fff;border-color:#d6e9c6;border-bottom-color:transparent}
.tabbed-panel.panel-success .nav-tabs > li.dropdown .dropdown-menu{background-color:#dff0d8;border-color:#d6e9c6}
.tabbed-panel.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a{color:#3c763d}
.tabbed-panel.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,.tabbed-panel.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:focus{background-color:#d6e9c6}
.tabbed-panel.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a,.tabbed-panel.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,.tabbed-panel.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus{color:#fff;background-color:#3c763d}
.tabbed-panel.panel-info .nav-tabs > li > a,.tabbed-panel.panel-info .nav-tabs > li > a:hover,.tabbed-panel.panel-info .nav-tabs > li > a:focus{color:#31708f}
.tabbed-panel.panel-info .nav-tabs > .open > a,.tabbed-panel.panel-info .nav-tabs > .open > a:hover,.tabbed-panel.panel-info .nav-tabs > .open > a:focus,.tabbed-panel.panel-info .nav-tabs > li > a:hover,.tabbed-panel.panel-info .nav-tabs > li > a:focus{color:#31708f;background-color:#bce8f1;border-color:transparent}
.tabbed-panel.panel-info .nav-tabs > li.active > a,.tabbed-panel.panel-info .nav-tabs > li.active > a:hover,.tabbed-panel.panel-info .nav-tabs > li.active > a:focus{color:#31708f;background-color:#fff;border-color:#bce8f1;border-bottom-color:transparent}
.tabbed-panel.panel-info .nav-tabs > li.dropdown .dropdown-menu{background-color:#d9edf7;border-color:#bce8f1}
.tabbed-panel.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a{color:#31708f}
.tabbed-panel.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,.tabbed-panel.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus{background-color:#bce8f1}
.tabbed-panel.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,.tabbed-panel.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,.tabbed-panel.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus{color:#fff;background-color:#31708f}
.tabbed-panel.panel-warning .nav-tabs > li > a,.tabbed-panel.panel-warning .nav-tabs > li > a:hover,.tabbed-panel.panel-warning .nav-tabs > li > a:focus{color:#8a6d3b}
.tabbed-panel.panel-warning .nav-tabs > .open > a,.tabbed-panel.panel-warning .nav-tabs > .open > a:hover,.tabbed-panel.panel-warning .nav-tabs > .open > a:focus,.tabbed-panel.panel-warning .nav-tabs > li > a:hover,.tabbed-panel.panel-warning .nav-tabs > li > a:focus{color:#8a6d3b;background-color:#faebcc;border-color:transparent}
.tabbed-panel.panel-warning .nav-tabs > li.active > a,.tabbed-panel.panel-warning .nav-tabs > li.active > a:hover,.tabbed-panel.panel-warning .nav-tabs > li.active > a:focus{color:#8a6d3b;background-color:#fff;border-color:#faebcc;border-bottom-color:transparent}
.tabbed-panel.panel-warning .nav-tabs > li.dropdown .dropdown-menu{background-color:#fcf8e3;border-color:#faebcc}
.tabbed-panel.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a{color:#8a6d3b}
.tabbed-panel.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,.tabbed-panel.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:focus{background-color:#faebcc}
.tabbed-panel.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a,.tabbed-panel.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,.tabbed-panel.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus{color:#fff;background-color:#8a6d3b}
.tabbed-panel.panel-danger .nav-tabs > li > a,.tabbed-panel.panel-danger .nav-tabs > li > a:hover,.tabbed-panel.panel-danger .nav-tabs > li > a:focus{color:#a94442}
.tabbed-panel.panel-danger .nav-tabs > .open > a,.tabbed-panel.panel-danger .nav-tabs > .open > a:hover,.tabbed-panel.panel-danger .nav-tabs > .open > a:focus,.tabbed-panel.panel-danger .nav-tabs > li > a:hover,.tabbed-panel.panel-danger .nav-tabs > li > a:focus{color:#a94442;background-color:#ebccd1;border-color:transparent}
.tabbed-panel.panel-danger .nav-tabs > li.active > a,.tabbed-panel.panel-danger .nav-tabs > li.active > a:hover,.tabbed-panel.panel-danger .nav-tabs > li.active > a:focus{color:#a94442;background-color:#fff;border-color:#ebccd1;border-bottom-color:transparent}
.tabbed-panel.panel-danger .nav-tabs > li.dropdown .dropdown-menu{background-color:#f2dede;border-color:#ebccd1}
.tabbed-panel.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a{color:#a94442}
.tabbed-panel.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,.tabbed-panel.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:focus{background-color:#ebccd1}
.tabbed-panel.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a,.tabbed-panel.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,.tabbed-panel.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus{color:#fff;background-color:#a94442}
.draw-container{margin:auto;position:relative;border-radius:5px;box-shadow:0 0 15px #ccc;border:1px solid #e8e0e0}
.draw-container img{max-width:100%}
.draw-container img.image-sets{position:absolute;top:0}
.image-sets{display:none}
.menu-icon{display:block;width:100%;padding:5px 15px 5px 5px !important}
.menu-icon span.image{display:block;width:30px;height:30px;border-radius:4px;overflow:hidden;border:1px solid #222;margin-left:20px;float:left;background-size:cover}
.menu-icon span.name{vertical-align:middle;display:table-cell;height:30px;margin-left:13px;font-size:13px;width:100%;margin-left:58px;padding-left:8px}
.nav a{color:#222;cursor:pointer}
.menu-icon.active span.image{border-color:red}
.menu-icon.active span.name{font-weight:700}
.log-main{position:absolute;z-index:9;top:0;left:0}
.nav-btns .btn{margin:10px}
#loading{position:absolute;z-index:99}
.panel-heading{text-align:center;font-size:18px}
.effect-blur{-webkit-filter:blur(5px);filter:blur(5px)}
.draw-containerx{background-size:cover;min-height:800px;min-width:800px}
.sidebar{height:100%;width:270px}
#page-wrapper{padding:0;margin-left:354px}
.navbar-default{background:none}
.side-menu li a{padding:15px 16px;padding-left:41px}
.selected-item{display:block;width:20px;height:20px;background:none;position:absolute;right:14px;top:5px;border:1px solid #ccc;background-size:cover;border-radius:98px}
.sidebar ul li.level1{margin:7px 4px 1px 7px}
.fancybox-outer .panel-green{border-color:#fff}
.fancybox-outer .panel-green .panel-heading{color:#000;background:#f9f9f9}
#wrapper{max-width:1100px;position:relative;margin:auto;border:1px solid #bdbddf;padding:30px;border-radius:2px;margin-top:20px;margin-bottom:20px}
.h1,h1{font-size:30px;text-align:center;font-weight:700;margin-bottom:25px}
.menu{margin:5px 3px 24px}
.menu .name{margin:5px;color:#706f6f;font-size:18px}
.menu .values{margin-left:30px}
.menu .values .item{display:block;width:100%;position:relative;margin:5px;color:#878383}
.select-colors{display:none;width:100%;position:absolute;background:#fff;padding:5px;    box-shadow: 0 0 19px #706fcd;;margin-top:1px;z-index:10;margin-left:-40px}
.menu .values .item:hover .select-colorsx{display:block}
#page-wrapper .row{padding:0;margin:0}
.tbl-in-off{width:100%}
.tbl-in-off tr td{padding:5px}
.tbl-in-off tr td:first-child{width:60%}
.tbl-in-off img{width:24px}
.tbl-in-off img.off{-webkit-filter:grayscale(100%);filter:grayscale(100%);opacity:.7}
.draw-container{overflow:hidden}
#potolok-level1{stroke:#000;margin-top:-89px;fill:red}
#potolok-type-1{z-index:10}
.ceiling{position:absolute;width:100%;z-index:3}
.ceiling-item.active{font-weight:700;color:#726fa6!important}
.f-title {    color: #706fcd;
              text-align: center;
              font-weight: bold;
              text-transform: uppercase;
              margin: 20PX 10px;}
.f-close { background-image: url(../images/ui/close_btn.png); width:32px; height: 32px; background-size: cover;position: absolute; RIGHT: 0;TOP: -5px;}
.f-close:hover {cursor: pointer; opacity: 0.5}
.farbtastic {margin: 5px auto}
.cursor {cursor: pointer;}
.cursor:hover {text-decoration: underline;}
.ceiling-item {
    
    
        display: block;
    width: 24%;
    float: left;
    margin: 1px;
    border-radius: 5px;
    overflow: hidden;
    border:1px solid #ccc;
}
.ceiling-item span {display: block;text-align: center;font-size: 14px;}
.ceiling-item.active:before {content: "✔";position: absolute; margin-left:0px;color:green}
.ceiling-item.active {border-color: green;}
h1 {color: #6765a6;}
.select-ul {    margin: 0;
                padding: 0;
                list-style: none;}
.select-ul li {}
.btn-blue {background: #6d6ec8;color:#fff;width: 323px;
    height: 40px;
border-radius: 5px;
    color: #fff;
    font-size: 20px;
           border-color: #5d5d9f;}
.btn-blue:hover,.btn-blue:active {background: #6d6ec8;color:#fff;
                                  border-color: #5d5d9f;opacity: 0.7}
.desc {    float: left;
           width: 63%;
           text-align: justify;
           margin: 8px;
           color: #403e3e;}
.select {width: 100%; padding: 6px;}
.seling-selected {    background-size: 33px;
                      background-position: -4px 3px;}
.st1 { opacity:0.6}
.select-templ-cont {    position: absolute;
                        margin-top: -110px;
                       opacity: 0;
                       transition: 1s;
                        z-index: 99;}
.select-templ-cont img {width: 80px;}
.bx-wrapper img {
border-radius: 4px;
    margin: auto;
}
.bx-wrapper img:hover {opacity: 0.8;cursor: pointer}
.bx-wrapper {background: none}
#page-wrapper:hover .select-templ-cont{ opacity: 1;} 
.celling-prev {width: 100%;margin: 4px; }


.tumbler-cont{
    display: table;
    font-size:0!important;
    width:300px;
    /* background-color:grey; */
    position: relative;
    text-align: center;
}
.first,
.second{
  display: inline-block;
  text-decoration: none;
  /* background-color:yellow; */
  width:20%;
  /* float: left; */
  vertical-align: top;
  display: inline-block;
  color: #6d6ec8;
  font-size: 10px;
  /* line-height: 14px; */
  font-family: 'PFSquareSansPro-Bold', sans-serif;
 margin-right: 12px;
  cursor: pointer;
  /* padding-right: 57px; */
  position: relative;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.tumbler{
    /* background-color:tomato; */
    width:15%;
    display: inline-block;
    font-size:14px;
    vertical-align: top;
    position: relative;
}
.tumbler:before{
    content: "";
    position: absolute;
    top: 10px;
    z-index: 1;
    /* right: 0; */
    left:0;
    display: block;
    width: 44px;
    height: 18px;
    /* background-color: #dbdbdb; */
    background-color: #6d6ec8;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.tumbler:after {
    content: "";
    position: absolute;
    top: 12px;
    z-index: 2;
    /* right: 28px; */
    left:2px;
    display: block;
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
/* .tumbler.on:before {
    background-color: #57a835;
    color: #57a835;
} */
.on {
    color: #6d6ec8;
    font-weight:bold;
}
 .on.tumbler:after {
    left:28px;
    /* right:2px!important; */
}
.l3x3icon {}
.l3x3icon li {}
.l3x3icon li .menu-icon {width:28%; float:left; padding:0!important; margin:4px;}
.l3x3icon li .menu-icon  .name {display:none}
.l3x3icon  ul li a.active {background:none!important}
@media(max-width:600px) {
    #page-wrapper{margin-left:0!important;padding:5px;min-height:auto;}
	.desc {width:100%;}
	h1 {font-size:20px;}
	.btn-blue.btn{
		width: 200px;
		font-size: 15px;
	}
}
